{% extends 'pro/usine/index.html.twig' %}

{% block body %}

<h1>Création de recette</h1>
<h3> Indiquez les différents morceaux nécessaires à la fabrication d'un(e) {{ name }}</h3>
    <br>

        <div class="row col-md-12 card card-body">
            <form method="post" action="{{ path('app_usine_creationRecetteProcess') }}">
            <input type="hidden" name="name" value="{{ name }}">

            <table class="table table-striped" id="table">
                <div id="copy">
                <thead>
                    <tr>
                        <th>Ingrédient</th>
                        <th>Quantité requise</th>
                    </tr>
                </thead>
                    <tbody id="table-body">
                        <tr class="copy-row">
                            <td>
                                <select name="list[1][ingredient]" id="ingredient" required >
                                    {% for i in range (0,ingredients|length -1) %}
                                        {% set ingredient = ingredients[i]%}
                                        <option value="{{ ingredient.name }}">{{ ingredient.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input type="number" name="list[1][quantity]" id="quantity" required >
                            </td>
                        </tr>
                    </tbody>
                </div>
            </table>
            <input type="button" onclick="ajouterLigneChoixIngredient()" value="Ajouter ligne">
            <input type="button" onclick="supprimerLigneChoixIngredient()" value="Supprimer ligne">
            <button type="submit">Valider</button>
        </div>



{% endblock %}

{% block script %}
    <script src="{{ asset('JS/recette.js') }}" defer  ></script>
{% endblock %}
