{% extends 'pro/proTemplate.html.twig' %}

{% block title %}BC24 PRO-Usine{% endblock %}

{% block sidebar %}
    <div class="sidebar-heading"> Opérations </div>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_usine_acquire') }}">
            <i class="fas fa-fw fa-box-open"></i>
            <span>Réception de Demi-Carcasses</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_usine_transferList') }}">
            <i class="fas fa-fw fa-truck"></i>
            <span>Transactions</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_usine_list', {'category': 'Demi Carcass'}) }}">
            <i class="fas fa-fw fa-list"></i>
            <span>Liste des demi-carcasses</span></a>
    </li>

   <li class="nav-item">
        <a class="nav-link" href="{{ path('app_usine_list', {'category': 'morceau'}) }}">
            <i class="fas fa-fw fa-list"></i>
            <span>Liste des morceaux</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_usine_creationRecetteName') }}">
            <i class="fas fa-fw fa-utensil-spoon"></i>
            <span>Créer une recette</span></a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_usine_choixRecette') }}">
            <i class="fas fa-fw fa-cogs"></i>
            <span>Réaliser un produit</span></a>
    </li>

        <li class="nav-item">
        <a class="nav-link" href="{{ path('app_usine_list', {'category': 'produit'}) }}">
            <i class="fas fa-fw fa-list"></i>
            <span>Liste des produit</span></a>
    </li>

{% endblock %}

{% block titrePro %}Usine{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Bienvenue sur la vue Usine de BC24</h1>
        <p>Vous pouvez naviguer dans le menu de gauche pour accéder aux différentes fonctionnalités de l'application.</p>
    </div>
{% endblock %}
