{% extends 'pro/usine/index.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>Informations sur votre {{category}} :</h1>
        <br>
        <ul class="list-group">
            <li class="list-group-item">NFT : {{ resource.tokenID }}</li>
            <li class="list-group-item">Nom : {{ resource.resourceName }}</li>
            {% if category == 'Demi Carcass' %}
            <li class="list-group-item">Date de naissance : {{ resource.demiCarcassDate.date|date('d/m/Y') }} , {{ resource.demiCarcassDate.date|date('H:i:s') }}</li>
            <li class="list-group-item">Temps de transport : {{ resource.travelTime|date('H:i:s') }}</li>
            <li class="list-group-item">Adresse de découpe : {{ resource.slaughteringPlace }}</li>
            <li class="list-group-item">Numéro d'approbation de l'équarrisseur: {{ resource.approvalNumberSlaughterer }}</li>
            {% else %}
            <li class="list-group-item">Date de création : {{ resource.meatDate.date|date('d/m/Y') }} , {{ resource.meatDate.date|date('H:i:s') }}</li>
            <li class="list-group-item">Temps de transport : {{ resource.travelTime|date('H:i:s') }}</li>
            <li class="list-group-item">Adresse de découpe : {{ resource.manufacturingPlace }}</li>
            <li class="list-group-item">Numéro d'approbation de l'usine: {{ resource.approvalNumberManufacturer }}</li>
            {% endif %}
            <li class="list-group-item">Pay de découpe : {{ resource.weight }}</li>
            <li class="list-group-item">Nom de site de production : {{ productionSiteName }}</li>
            
        </ul>
        <br>
        {% if category == 'Demi Carcass' %}
        <a href="{{ path('app_usine_decoupe', {'id' : resource.tokenID}) }}"> <button class="btn btn-primary">Découper en morceaux</button> </a>
        {% endif %}

    <br><br>

    <a href="{{ path('app_usine_list', {'category': category}) }}"><button class="btn btn-primary">Retour à la liste</button></a>

    </div>
{% endblock %}
