{% extends 'pro/usine/index.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>Informations sur votre {{category|lower}} :</h1>
        <br>
        <ul class="list-group">
            <li class="list-group-item">NFC : {{ resource.tokenID }}</li>
            <li class="list-group-item">Nom : {{ resource.resourceName }}</li>
            <li class="list-group-item">Adresse : {{ resource.address }}</li>
            <li class="list-group-item">Date et heure de création : {{ resource.birthDate }}</li>
            <li class="list-group-item">Poids en grammes : {{ resource.weight }}</li>
        </ul>
        <br>
        {% if category == 'Demi Carcass' %}
        <a href="{{ path('app_usine_decoupe', {'id' : resource.tokenID}) }}"> <button class="btn btn-primary">Découper en morceaux</button> </a>
        {% endif %}

    <br><br>

    <a href="{{ path('app_usine_list', {'category': category}) }}"><button class="btn btn-primary">Retour à la liste</button></a>

    </div>
{% endblock %}
