{% extends 'pro/proTemplate.html.twig' %}

{% block title %}BC24 Admin{% endblock %}

{% block body %}
    <br><br><br><br><br><br><br>
    <a href="{{ path('app_admin_add') }}">Ajouter une ressource</a> <br>
    <a href="{{ path('app_admin_modify') }}">Modifier une ressource</a><br>
    <a href="{{ path('app_admin_reportList') }}">Check le dernier report de ressource</a> <br>
    <a href="{{ path('app_admin_userList') }}">Gestion des Utilisateurs</a><br>
    <a href="{{ path('app_productionSite') }}">Gestion des sites de production</a>
    <br><br><br><br><br><br><br>

{% endblock %}
