{% extends 'base.html.twig' %}

{% block title %}Comment fonctionne BC24 ?{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/howItsWorks.css') }}">
{% endblock %}

{% block body %}
<div class="content-wrapper">
    <h1>Comment fonctionne BC24 ?</h1>

    <div class="steps">
        <div class="step">
            <img src="{{ asset('images/acheter.jpg') }}" alt="Achetez vos produits"><br><br>
            <p>Achetez vos produits</p>
        </div>
        <div class="step">
            <img src="{{ asset('images/scanner.jpg') }}" alt="Scannez le code"><br><br>
            <p>Scannez le code</p>
        </div>
        <div class="step">
            <img src="{{ asset('images/verify.jpg') }}" alt="Vérifiez la qualité de votre produit"><br><br>
            <p>Vérifiez la qualité de votre produit</p>
        </div>
    </div>

    <h2>Comment ça marche</h2>
    <p>Ca fait bim bam boom ! Ca fait vroum et ça fait boom !</p>
</div>
{% endblock %}
