{% extends 'pro/equarrisseur/index.html.twig' %}

{% block body %}
    <div class="container-fluid">
    {% if resource.resourceType == 'Animal' %}
        <h1>Informations sur cet animal</h1>
        <br>

        <ul class="list-group">
            <li class="list-group-item">NFT : {{ resource.tokenID }}</li>
            <li class="list-group-item">Nom : {{ resource.resourceName }}</li>
            <li class="list-group-item">Genre : {{ resource.genre }}</li>
            <li class="list-group-item">Lieu de création : {{ resource.address }} 
            {# | Téléphone : {{ resource.origin.ProductionSiteTel }} #}
            </li>
            <li class="list-group-item">Date de création: {{ resource.birthDate}} {# |date('d/m/Y') #} </li>
            <li class="list-group-item">Poids en grammes : {{ resource.weight }}</li>
        </ul>
        <br>
        {% if newResourceID != -1 %}
        <a href="{{ path('app_equarrisseur_equarrir', {"newResourceID" : newResourceID , 'tokenIDAnimal' : resource.tokenID}) }}">
            <button class="btn btn-primary">Équarrir</button>
        </a>
        {% endif %}


    {% elseif category == 'Carcass' %}
        <h1>Informations sur cette carcasse</h1>
        <br>
        <ul class="list-group">
            <li class="list-group-item">NFT : {{ resource.tokenID }}</li>
            <li class="list-group-item">Nom : {{ resource.resourceName }}</li>
            <li class="list-group-item">Adresse : {{ resource.address }}</li>
            <li class="list-group-item">Date d'abattage : {{ resource.birthDate }}</li>
            <li class="list-group-item">Poids en grammes : {{ resource.weight }}</li>
        </ul>
        <br>
        <a href="{{ path('app_equarrisseur_equarrir', {"newResourceID" : newResourceID , 'tokenIDAnimal' : resource.tokenID}) }}">
            <button class="btn btn-primary">Découper</button>
        </a>
    {% else %}
    <h1>Informations sur cette demi-carcasse</h1>
        <br>
        <ul class="list-group">
            <li class="list-group-item">NFT : {{ resource.tokenID }}</li>
            <li class="list-group-item">Nom : {{ resource.resourceName }}</li>
            <li class="list-group-item">Adresse : {{ resource.address }} </li>
            <li class="list-group-item">Date découpe : {{ resource.birthDate }}</li>
            <li class="list-group-item">Poids en grammes : {{ resource.weight }}</li>
        </ul>

    {% endif %}
        <br><br>
        <a href="{{ path('app_equarrisseur_list', {'category': resource.resourceType}) }}"><button class="btn btn-primary">Retour à la liste</button></a>

    </div>


{% endblock %}



