{% extends 'template.html.twig' %}

{% block body %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/waitModal.css') }}" />
    {% endblock %}

<div class="container-fluid">
    <h1>Présentez un tag NFC à proximité du scanner, puis cliquez sur le bouton "Ecriture" pour y associer le nouveau NFT crée</h1><br>


<script src="{{ asset('assets/js/scanner.js') }}" defer></script>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Type</th>
            <th>Tag NFC</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>    
{% for i in range(0,id|length -1) %}
  <tr>
    <td>{{ name[i] }}</td>
    <td>{{ resourceType }}</td>
    <td>{{ id[i] }}</td>
    <td>
        <div id="hero-wrapper"> 
            <div class="hero-content input-div">
                <input type ="hidden" class='hidden-input' type="number" value={{ id[i] }}>
                <button type="button" class="writer" id="writer">Associer</button>
                <br>
                <div id="loaderModal" class="loader-modal">
                    <div class="loader-content">
                        <p class = "paragraph-contener">Présentez un tag NFC à proximité du scanner, puis cliquez sur le bouton "Ecriture" pour y associer le nouveau NFT crée</p>
                        <div class="loader">
                        </div> 
                        <div class="modal-footer">
                                {#}<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>{#}
                                <button type="button" class="btn btn-primary writer-modal">Ecriture</button>
                        </div>
                    </div>
                </div>        
                        
            </div>
        </div>
    </td>
  </tr>
    {% endfor %}
</tbody>
</table>
</div>
    <div id="success-modal" class="loader-modal" type="hidden">
        <div class="loader-content">
            <p>Félicitation, votre enregistrement c'est bien effectué</p>
            <button type="button" id='success'class="btn btn-primary writer-modal">Retour</button>
        </div>
    </div>
    
    <div id="failure-modal" class="loader-modal" type="hidden">
        <div class="loader-content">
            <p>Veuiller vous assurer que le tag est proche du scanner</p>
            <button type="button" id='failure'class="btn btn-primary writer-modal">Retour</button>
        </div>
    </div>
{#}
    <!-- Loader modal -->

            <div id="loaderModal" class="loader-modal">
                <div class="loader-content">
                    <p>Présentez un tag NFC à proximité du scanner, puis cliquez sur le bouton "Ecriture" pour y associer le nouveau NFT crée</p>
                    <div class="loader">
                    </div> 
                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Ecriture</button>
                    </div>
                </div>
            </div>
 {#}           
{% endblock %}