{% extends 'search/search.html.twig' %}

{% block title %}Resource Details{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/result.css') }}" />
{% endblock %}

{% block body %}


{# Le formulaire de recherche #}
{{ parent() }}

<div class="resource-details">
    <div class="banner-wrapper">
        <div class="banner">
            <div class ="box container">
                <div class="row">
                    <div class="col-6 col-25-medium">
                        <h2>{{ resource.ResourceName.name }}</h2><hr>
                        <p>Produit final : {{ resource.ResourceName.ResourceCategory == 'PRODUIT' ? 'Oui' : 'Non' }}</p>
                        <p>Produit contaminé : {{ resource.isIsContamined ? 'Oui' : 'Non' }}</p>
                        <p>Poids : {{ resource.getWeight }} kg</p>
                        <p>Prix : {{ resource.getPrice }} €</p>

                        {% if resource.getDescription | length > 0 %}
                            <p>Description : {{ resource.getDescription }}</p>
                        {% endif %}
                        <p>Date création : {{ resource.getDate ? resource.getDate|date('d/m/Y') : 'Non disponible' }}</p>
                        <p>Heure création : {{ resource.getDate ? resource.getDate|date('H:i:s') : 'Non disponible' }}</p>
                    </div>
                    <div class="col-5 col-25-medium">
                        <img src="{{ asset(imagePath) }}" alt="Image description" width="120%">


                    </div>



                    <div class="col-25 col-25-medium">
                        <h3>Origine de Production</h3><hr>
                        <p>Lieu de production : {{ resource.getOrigin.getProductionSiteName }}</p>
                        <p>Adresse : {{ resource.getOrigin.getAddress }}</p>
                        <p>Téléphone : {{ resource.getOrigin.getProductionSiteTel }}</p>
                    </div>

                    <div class="col-25 col-25-medium">
                        <h3>Composition</h3><hr>
                        {% if resource.components|length > 0 %}
                            <ul>
                                {% for component in resource.components %}
                                    <li>
                                        <a href="{{ path('app_search_result', {'id': component.getId}) }}">
                                            {{ component.ResourceName.name }} (ID: {{ component.getId }})
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>Il n'y a pas de composition pour cette ressource.</p>
                        {% endif %}
                    </div>

                    <div class="col-25 col-25-medium">
                        <h3>Rapport</h3><hr>
                        {% if resource.getReports|length > 0 %}
                            <ul>
                                {% for report in resource.getReports %}
                                    <li>Report ID: {{ report.getId }}, Description: {{ report.getDescription }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>Il n'y a pas de rapport pour cette ressource.</p>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
