{% extends 'search/search.html.twig' %}

{% block title %}Resource Details{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/result.css') }}" />
{% endblock %}

{% block body %}


{# Le formulaire de recherche #}
{{ parent() }}

<div class="resource-details">
    <div class="banner-wrapper">
        <div class="banner">
            <div class ="box container">
                <div class="row">
                    <div class="col-6 col-25-medium">
                        <h1>{{ resource.ResourceName.name }}</h1><hr>
                        {% if resource.isIsContamined %}
                        <h2 style="color:red"> Attention Produit Contaminé </h2><hr>
                        {% endif %}
                        <p>Poids : {{ resource.getWeight }} g</p>
                        {% if resource.ResourceName.ResourceCategory.category == 'PRODUIT' %}
                        <p>Prix : {{ resource.getPrice }} €</p>
                        {% endif %}

                        {% if resource.ResourceName.ResourceCategory.category == 'ANIMAL' %}
                            <p>Date de naissance : {{ resource.getDate ? resource.getDate|date('d/m/Y') : 'Non disponible' }}</p>
                            <p>Heure de naissance : {{ resource.getDate ? resource.getDate|date('H:i:s') : 'Non disponible' }}</p>
                        {% else %}
                            <p>Date de production : {{ resource.getDate ? resource.getDate|date('d/m/Y') : 'Non disponible' }}</p>
                            <p>Heure de production : {{ resource.getDate ? resource.getDate|date('H:i:s') : 'Non disponible' }}</p>
                        {% endif %}
                    </div>
                    <div class="col-5 col-25-medium">
                        <img src="{{ asset(imagePath) }}" alt="Image description" width="120%">
                    </div>

                    <div class="col-25 col-25-medium">
                        <h3>Origine de la Resource :</h3><hr>
                        <p>Lieu de production : {{ resource.getOrigin.getProductionSiteName }}</p>
                        <p>Adresse : {{ resource.getOrigin.getAddress }}</p>
                    </div>

                    {% if resource.components|length > 0 %}
                    <div class="col-25 col-25-medium">
                        <h3>Composants :</h3><hr>
                            <ul>
                                {% for component in resource.components %}
                                    <li>
                                        <a href="{{ path('app_search_result', {'id': component.getId}) }}">
                                            {{ component.ResourceName.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                    </div>
                    {% endif %}


                    <div class="col-25 col-25-medium">
                        <h3>Signalements :</h3><hr>
                        {% if resource.getReports|length > 0 %}
                                <p>Nombre de signalements pour cette ressource : {{ resource.getReports|length }}</p>
                        {% else %}
                            <p>Il n'y a eu aucun signalement pour cette ressource.</p>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
