{% extends 'search/search.html.twig' %}

{% block title %}Resource Details{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block body %}


{# Le formulaire de recherche #}
{{ parent() }}
<div class="container-fluid">
{% if resource.resourceType == 'Animal' %}
        <h1>Informations sur cet animal</h1>
        <br>

        <ul class="list-group">
            <li class="list-group-item">NFT : {{ resource.tokenID }}</li>
            <li class="list-group-item">Nom : {{ resource.resourceName }}</li>
            <li class="list-group-item">Genre : {{ resource.genre }}</li>
            <li class="list-group-item">Lieu de création : {{ resource.address }}</li>
            <li class="list-group-item">Date de naissance : {{ resource.birthDate.date|date('d/m/Y') }} , {{ resource.birthDate.date|date('H:i:s') }}</li>
            <li class="list-group-item">Nutrition : {{ resource.nutrition }}</li>
            <li class="list-group-item">Vaccin : <br>
            {% for key, value in resource.vaccin %}
                {{ key }} : {{ value.date|date('d/m/Y') }} , {{ value.date|date('H:i:s') }}
                <br>
            {% endfor %}
            </li>
            <li class="list-group-item">Maladie : <br>
            {% for key, value in resource.disease %}
                {{ key }} : {{ value.date|date('d/m/Y') }} , {{ value.date|date('H:i:s') }}
                <br>
            {% endfor %}
            </li>
            <li class="list-group-item">Poids en grammes : {{ resource.weight }}</li>
            <li class="list-group-item">Numéro d'approbation de ferme: {{ resource.approvalNumberBreeder }}</li>
            <li class="list-group-item">Temps de trajet : {{ resource.travelTime }}</li>
            <li class="list-group-item">Lieu de départ : {{ resource.gpsStart }}</li>
    <li class="list-group-item">Lieu d'arrivé : {{ resource.gpsEnd }}</li>
    <li class="list-group-item">Température de conservation départ : {{ resource.temperatureStart }}</li>
    <li class="list-group-item">Température de conservation départ : {{ resource.temperatureEnd }}</li>

    {% elseif resource.resourceType == 'Carcass' %}
        <h1>Informations sur cette carcasse</h1>
        <br>
        <ul class="list-group">
            <li class="list-group-item">NFT : {{ resource.tokenID }}</li>
            <li class="list-group-item">Nom : {{ resource.resourceName }}</li>
            <li class="list-group-item">Adresse : {{ resource.slaughteringPlace }}</li>
            <li class="list-group-item">Date de création : {{ resource.carcassDate.date|date('d/m/Y') }} , {{ resource.carcassDate.date|date('H:i:s') }}</li>
            <li class="list-group-item">Temps de transport : {{ resource.travelTime|date('H:i:s') }}</li>
            <li class="list-group-item">Pay de coupe: {{ resource.slaughtererCountry }}</li>
            <li class="list-group-item">Numéro d'approbation de l'équarrisseur: {{ resource.approvalNumberSlaughterer }}</li>
        
        <br>
    {% elseif resource.resourceType == 'Demi Carcass' %}
    <h1>Informations sur cette demi-carcasse</h1>
        <br>
        <ul class="list-group">
            <li class="list-group-item">NFT : {{ resource.tokenID }}</li>
            <li class="list-group-item">Nom : {{ resource.resourceName }}</li>
            <li class="list-group-item">Adresse : {{ resource.slaughteringPlace }} </li>
            <li class="list-group-item">Date découpe : {{ resource.demiCarcassDate.date|date('d/m/Y') }} , {{ resource.demiCarcassDate.date|date('H:i:s') }}</li>
            <li class="list-group-item">Pay de coupe: {{ resource.slaughtererCountry }}</li>
            <li class="list-group-item">Numéro d'approbation de l'équarrisseur: {{ resource.approvalNumberSlaughterer }}</li>
                <li class="list-group-item">Lieu de départ : {{ resource.gpsStart }}</li>
    <li class="list-group-item">Lieu d'arrivé : {{ resource.gpsEnd }}</li>
    <li class="list-group-item">Température de conservation départ : {{ resource.temperatureStart }}</li>
    <li class="list-group-item">Température de conservation départ : {{ resource.temperatureEnd }}</li>
        

    {% elseif resource.resourceType == 'Meat' %}
    <h1>Informations sur votre morceau :</h1>
        <br>
        <ul class="list-group">
            <li class="list-group-item">NFT : {{ resource.tokenID }}</li>
            <li class="list-group-item">Nom : {{ resource.resourceName }}</li>
            <li class="list-group-item">Date de création : {{ resource.meatDate.date|date('d/m/Y') }} , {{ resource.meatDate.date|date('H:i:s') }}</li>
            <li class="list-group-item">Temps de transport : {{ resource.travelTime|date('H:i:s') }}</li>
            <li class="list-group-item">Adresse de découpe : {{ resource.manufacturingPlace }}</li>
            <li class="list-group-item">Numéro d'approbation de l'usine: {{ resource.approvalNumberManufacturer }}</li>
            <li class="list-group-item">Pay de découpe : {{ resource.manufactureingCountry }}</li>
    {% else %}
    <h1>Informations sur votre produit :</h1>
        <br>
<ul class="list-group">
            <li class="list-group-item">NFT : {{ resource.tokenID }}</li>
            <li class="list-group-item">Nom : {{ resource.resourceName }}</li>
            <li class="list-group-item">Date de création : {{ resource.meatDate.date|date('d/m/Y') }} , {{ resource.meatDate.date|date('H:i:s') }}</li>
            <li class="list-group-item">Adresse de découpe : {{ resource.manufacturingPlace }}</li>
            <li class="list-group-item">Numéro d'approbation de l'usine: {{ resource.approvalNumberManufacturer }}</li>
            <li class="list-group-item">Pay de découpe : {{ resource.manufactureingCountry }}</li>

    {% endif %}
    <li class="list-group-item">Liste des ingrédients (NFT) :
    {% for parentResource, value in resource.listOfIngredients %}
        <a href="{{ path('app_search_result', {'id' : value})}}" class="card-link"> {{ value }}</a>
    {% endfor %}
    </li>
    </ul>
    </div>
{% endblock %}
