{% extends 'pro/transporteur/index.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>Informations sur cette ressource :</h1>
        <br>
        <ul class="list-group">
            <li class="list-group-item">NFC : {{ resource.tokenID }}</li>
            <li class="list-group-item">Nom de la ressource : {{ resource.resourceName }}</li>
            {% if resource.resourceType == 'Animal' %}
                <li class="list-group-item">Genre : {{ resource.genre }}</li>
            {% endif %}
            <li class="list-group-item">dresse : {{ resource.address }}</li>
            <li class="list-group-item">Date de création de la ressource : {{ resource.birthDate }}</li>
            <li class="list-group-item">Poids en grammes : {{ resource.weight }}</li>
        </ul>
        <br>
        <a href="{{ path('app_transporteur_list') }}"><button class="btn btn-primary">Retour à la liste</button></a>
    </div>
{% endblock %}
