{% extends 'template.html.twig' %}

{% block title %}BC24-Historique de Recherche{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2 class="text-center mt-4 mb-5">Historique des recherches</h2>
                {% if page > 1 %}
                    <a href="{{ path('app_history', {'page': page-1}) }}" class="mr-3"></a>
                    {% if page > 2 %}
                        <a href="{{ path('app_history', {'page': 1}) }}" class="mr-3">1</a>
                        ...
                    {% endif %}
                {% endif %}

                {% if page > 1 %}
                    <a href="{{ path('app_history', {'page': page -1}) }}" class="mr-3">{{ page -1 }}</a>
                {% endif %}
                <span>{{ page }}</span>
                {% if page < numberPage %}
                    <a href="{{ path('app_history', {'page': page +1}) }}" class="mr-3">{{ page +1 }}</a>
                {% endif %}

                {% if page != numberPage %}
                    {% if page < numberPage -1 %}
                        ...
                        <a href="{{ path('app_history', {'page': numberPage}) }}" class="mr-3">{{numberPage}}</a>
                    {% endif %}
                    {% if numberPage >1 %}
                        <a href="{{ path('app_history', {'page': page+1}) }}">></a>
                    {% endif %}
                {% endif %}
                <table class="table table-striped mt-4">
                    <thead>
                    <tr>
                        <th>Date de la recherche</th>
                        <th>Nom</th>
                        <th>Contamination</th>
                        <th>Quantité</th>
                        <th>Prix</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for history1 in history %}
                        <tr>
                            <td>{{ history1.Date|date('d/m/Y') }}</td>
                            <td><a href="{{ path('app_search_result', {'id': history1.resource.id }) }}">{{ history1.resource.ResourceName.Name }}</a></td>
                            <td style="background-color: {% if history1.Resource.isContamined == true %}red{% else %}green{% endif %};">{{ history1.Resource.isContamined ? 'Contaminé' : 'Non contaminé' }}</td>
                            <td>{{ history1.Resource.Weight }}</td>
                            <td>{{ history1.Resource.Price }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
