{% extends 'pro/eleveur/index.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>Informations sur votre animal :</h1>
        <br>
        <ul class="list-group">
            <li class="list-group-item">NFT : {{ animal.tokenID }}</li>
            <li class="list-group-item">Nom : {{ animal.resourceName }}</li>
            <li class="list-group-item">Genre : {{ animal.genre }}</li>
            <li class="list-group-item">Lieu de création : {{ animal.address }}</li>
            <li class="list-group-item">Date de naissance : {{ animal.birthDate|date('d/m/Y') }} , {{ animal.birthDate|date('H:i:s') }}</li>
            <li class="list-group-item">Nutrition : {{ animal.nutrition }}</li>
            <li class="list-group-item">Vaccin : <br>
            {# {{ resource.date|date('d/m/Y') }}, {{ resource.date|date('H:i:s') }}</li> #}
            {% for key, value in animal.vaccin %}
                {{ key }} : {{ value.date|date('d/m/Y') }} , {{ value.date|date('H:i:s') }}
                <br>
            {% endfor %}
            </li>
            <li class="list-group-item">Maladie : <br>
            {# {{ resource.date|date('d/m/Y') }}, {{ resource.date|date('H:i:s') }}</li> #}
            {% for key, value in animal.disease %}
                {{ key }} : {{ value.date|date('d/m/Y') }} , {{ value.date|date('H:i:s') }}
                <br>
            {% endfor %}
            </li>
            <li class="list-group-item">Poids en grammes : {{ animal.weight }}</li>
            <li class="list-group-item">Numéro d'approbation de ferme: {{ animal.approvalNumberBreeder }}</li>
        </ul>
        <br>
        <h2>Actions possibles :</h2>
        <a href="{{ path('app_eleveur_weight', {'id' : animal.tokenID}) }}"> <button class="btn btn-primary">Peser</button> </a>
        <a href="{{ path('app_eleveur_vaccine', {'id' : animal.tokenID }) }}"><button class="btn btn-primary">Vacciner</button></a>
        <a href="{{ path('app_eleveur_disease', {'id' : animal.tokenID }) }}"><button class="btn btn-primary">Etat de l'animal</button></a>
        <a href="{{ path('app_eleveur_nutrition', {'id' : animal.tokenID }) }}"><button class="btn btn-primary">Indiquer nutrition</button></a>
        <a href="{{ path('app_eleveur_disease2', {'id' : animal.tokenID }) }}"><button class="btn btn-primary">Ajouter une maladie à l'animal</button></a>

        <br><br>
        <a href="{{ path('app_eleveur_list') }}"><button class="btn btn-primary">Retour à la liste</button></a>
        <br><br>
    </div>


{% endblock %}
